*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:#fff;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

/* ================= HEADER ================= */
header{
  text-align:center;
  padding:25px 10px;
  background:rgba(0,0,0,.35);
}

header h1{
  font-size:32px;
  margin-bottom:8px;
}

#tanggal{
  font-size:18px;
  opacity:.9;
  margin-bottom:18px;
}

/* ================= COUNTDOWN ================= */
#countdown-container{
  background:rgba(255,255,255,.08);
  padding:15px;
  border-radius:14px;
  display:inline-block;
}

#next-sholat{
  font-size:20px;
  margin-bottom:5px;
}

#countdown{
  font-size:38px;
  font-weight:bold;
  color:#ffd54f;
  letter-spacing:2px;
}


/* ================= JADWAL ================= */
main{
  flex:1;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:20px;
}

#jadwal-container{
  width:100%;
  max-width:700px;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:15px;
}

.sholat{
  background:rgba(255,255,255,.1);
  border-radius:14px;
  padding:18px;
  text-align:center;
  transition:.2s;
}

.sholat:hover{
  transform:scale(1.05);
  background:rgba(255,255,255,.2);
}
/* nama sholat merah */
.sholat .nama{
  color:#ff4040;
  font-weight:bold;
}

/* waktu tetap putih */
.sholat .waktu{
  color:#ffffff;
  font-size:14px;
  font-weight:bold;
}

 /* ================= MOBILE ================= */
@media(max-width:600px){
  #jadwal-container{
    grid-template-columns:repeat(2,1fr);
    gap:8px;
  margin-top:18px;
  }

  #countdown{
    font-size:30px;
  }
}
/* RUNNING TEXT */
.running-text{
  overflow:hidden;
  white-space:nowrap;
  background:rgba(0,0,0,.55);
  border-radius:8px;
  margin-bottom:8px;
  padding:6px 0;
}

.running-inner{
  display:inline-block;
  padding-left:100%;
  animation:jalan 12s linear infinite;
  color:#ff4040;
  font-weight:bold;
  font-size:16px;
}

/* animasi geser */
@keyframes jalan{
  0%   { transform:translateX(0); }
  100% { transform:translateX(-100%); }
}
/* HARI BESAR */
#hariBesarBox{
  background:rgba(0,0,0,.55);
  padding:10px 14px;
  border-radius:10px;
  margin-bottom:8px;
  font-size:15px;
  font-weight:600;
  text-align:center;
  color:#ffd966;
}

/* animasi geser */
@keyframes jalan{
  0%   { transform:translateX(0); }
  100% { transform:translateX(-100%); }
}
